{% assign lang = page.lang | default: 'ja' %}
{% assign t = site.data.i18n[lang] %}
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<base target="_blank">

	<title class="pageTitle">{{ t.page_title }}</title>
	<meta name="description" content="{{ t.app_description }}">

	<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}">

	<!-- Smart App Banner -->
	{% if site.enable_smart_app_banner %}
		<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}">
	{% endif %}

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css" crossorigin="anonymous">
	{% comment %} Cache-bust main.css on every deploy so CSS changes are never served stale from cache (it is sent with max-age=14400). {% endcomment %}
	{% if site.github.build_revision %}{% assign css_ver = site.github.build_revision %}{% else %}{% assign css_ver = site.time | date: '%s' %}{% endif %}
	<link rel="stylesheet" href="{{ '/main.css' | relative_url }}?v={{ css_ver }}">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-9P2Z6G7V01"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-9P2Z6G7V01');
	</script>
</head>